html,
body,
#app {
    height: 100%;
    position: relative;
    min-height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
