.uikit-autocomplete {
    position: relative;

    &__required {
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        color: red;
    }

    &__list {
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px gray solid;
        background: #fff;
        list-style: none;
        padding: 0;
        max-height: 250px;
        overflow-y: auto;
    }

    &__item {
        font-size: 13px;
        padding: 5px 8px;
        cursor: pointer;
        border-bottom: 1px gray solid;

        &:hover {
            background: gray;
        }
    }
}
