.uikit-datepicker {
    position: relative;
    &__required {
        color: red;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 14px;
    }
}
.react-datepicker-popper {
    z-index: 6 !important;
}
.react-datepicker__week {
    display: flex;
}
