.sidebar {
    background: #2f3233;
    width: 200px;
    transition: 0.4s;
    &__overlay {
        z-index: 5;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        display: none;
        background: rgba(0, 0, 0, 0.5);
        transform: translateX(200px);
    }
    * {
        z-index: 10;
    }
    .sidebar__item {
        background: transparent;
        height: 30px;
        display: flex;
        align-items: center;
        span {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:hover {
            background: #4f9e4f;
        }
        &--active {
            background: #5cb85c !important;
        }
        i {
            width: 25px;
            display: inline-flex;
            justify-content: center;
            margin-right: 10px;
            font-size: 14px;
            transition: 0.5s;
        }
    }
    .logo {
        font-family: 'PT Sans', sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        span {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            padding: 0px 10px;
        }
    }
}

.sidebar--mini {
    transition: 0.5s;
}
//phone-up
@include media(544px) {
    .sidebar--mini {
        width: 45px;
        .sidebar__item {
            span {
                width: 0px;
            }
            i {
                margin-right: 0px;
            }
        }
    }
}
//phone-down
@include media(0px, 544px) {
    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 20;
        transform: translateX(0px);
        &__overlay {
            display: block;
        }
    }
    .sidebar--mini {
        transform: translateX(-200px);
        .sidebar__overlay {
            display: none;
        }
    }
}
