.react-slider {
    label {
        font-size: 0.75rem;
    }

    &-bar {
        font-size: 0.75rem;
        line-height: 1.25;
        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        color: #464a4c;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 0.25rem;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
    }

    &-bar--1{
        .bar-0{
            height: 9px;
            background-color: #0275d8;
            border-radius: 0.3rem;
            opacity: 0.5;
        }
    }

    &-bar--2{
        .bar-1{
            height: 9px;
            background-color: #0275d8;
            border-radius: 0.3rem;
            opacity: 0.5;
        }
    }

    .slider {
        height: 11px;
        margin: 1px 0;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;



        .handle {
            width: 20px;
            height: 20px;
            margin-top: -5px;
            cursor: pointer;
            border-color: #0275d8;
            border-radius: 50%;
            background-color: #0275d8;

            &:hover {
                border-color: #01549b;
                background-color: #025aa5;
            }
        }
    }
}
